* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.content-flexible {
    display: flex;
}
h1 {
    font-size: 45px;
    text-transform: capitalize;
    color: #707070;
}
h2 {
    font-size: 40px;
    text-transform: capitalize;
    color: #707070;
}
h3 {
    font-size: 35px;
    text-transform: capitalize;
    color: #707070;
}
.half-content {
    max-width: 50%;
    padding-left: 6%;
}
.section-one {
    max-width: 1160px;
    margin: 0 auto;
    box-shadow: 0 5px 12px #0389F6;
    background-attachment: fixed;
}
.nav-logo {
    margin: 20px;
}
.nav-logo a {
    font-size: 30px;
    color: #0389F6;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
}
span.logo-text-part {
    color: orangered;
}
.nav-menu {
    margin-left: 23%;  
}
.nav-menu ul li {
    display: inline-block;
    padding: 15px;
}
.nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
}
/* END NAVBAR MENU SECTION... */

.section-two {
    margin-top: 50px;
}
.color-diet-text {
    color: #0389F6;
    font-weight: 800;
}
.color-food-particle {
    color: orangered;
    font-weight: 800;
}
.top-banner-left {
    margin-top: 50px;
}
.top-banner-left p {
    text-transform: capitalize;
    text-align: justify;
    color: #707070;
}
.order-food-btn {
    background-image: linear-gradient(to right, rgb(253, 193, 171), #0389F6);
    padding: 15px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.top-banner-right {
    margin-left: 5%;
}
.top-banner-right img {
    max-width: 80%;
}
/* END TOP BANNER SECTION... */

.section-three {
    margin-top: 50px;
    background-image: url(../images/Frame57.png);
    background-repeat: no-repeat;
}
.about-me-right {
    margin-right: 5%;
}
.about-me-right p {
    text-align: justify;
    color: #707070;
} 
.about-me-left img {
    max-width: 55%;
    margin: 30px 0 0 40px;
    
}
.border-about-text {
    border-bottom: 2px solid coral;
}
.contact-me-btn {
    background-image: linear-gradient(to right, #a5d5fc, orangered);
    padding: 15px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}




